.footer1-wrapper {
  display: contents;
}
 
.footer1-footer1 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.footer1-max-width {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer1-content {
  gap: var(--dl-layout-space-fourunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: var(--dl-layout-radius-radius4);
}
 
.footer1-newsletter {
  gap: 24px;
  width: 500px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer1-image1 {
  width: 10vw;
  text-decoration: none;
}
 
.footer1-content1 {
  font-family: "Montserrat";
}
 
.footer1-actions {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer1-form {
  height: auto;
  margin: 0px;
  display: flex;
  align-self: stretch;
  align-items: stretch;
}
 
.footer1-container {
  width: 365px;
  display: flex;
  align-items: flex-start;
}
 
.footer1-text-input {
  gap: 8px;
  width: 100%;
  height: 32px;
  display: flex;
  font-size: 16px;
  box-sizing: content-box;
  text-align: left;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 400;
  background-color: transparent;
}
 
.footer1-button {
  color: #017a48;
  transition: 0.3s;
  border-color: #017a48;
  text-decoration: none;
}
 
.footer1-button:hover {
  color: #000000;
  border-color: #000000;
  background-image: linear-gradient(90deg, rgb(189, 157, 90) 1.00%,rgb(239, 227, 148) 100.00%);
}
 
.footer1-action1 {
  font-family: "Montserrat";
}
 
.footer1-content2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.footer1-links {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
}
 
.footer1-column1 {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer1-column1-title {
  font-family: "Montserrat";
}
 
.footer1-footer-links {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer1-link1 {
  font-family: "Montserrat";
  text-decoration: none;
}
 
.footer1-link21 {
  font-family: "Montserrat";
  text-decoration: none;
}
 
.footer1-link22 {
  font-family: "Montserrat";
  text-decoration: none;
}
 
.footer1-link23 {
  font-family: "Montserrat";
  text-decoration: none;
}
 
.footer1-link24 {
  font-family: "Montserrat";
  text-decoration: none;
}
 
.footer1-link25 {
  font-family: "Montserrat";
  text-decoration: none;
}
 
.footer1-column3 {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer1-social-link1-title {
  font-family: "Montserrat";
}
 
.footer1-social-links {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer1-link3 {
  gap: 12px;
  display: none;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.footer1-social-link1 {
  font-family: "Montserrat";
}
 
.footer1-link4 {
  display: contents;
}
 
.footer1-link5 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;
}
 
.footer1-social-link2 {
  font-family: "Montserrat";
}
 
.footer1-link6 {
  gap: 12px;
  display: none;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.footer1-social-link3 {
  font-family: "Montserrat";
}
 
.footer1-link7 {
  gap: 12px;
  display: none;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.footer1-social-link4 {
  font-family: "Montserrat";
}
 
.footer1-link8 {
  display: contents;
}
 
.footer1-link9 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;
}
 
.footer1-social-link5 {
  font-family: "Montserrat";
}
 
.about-us-fragment15 {
  display: contents;
}
 
.about-us-text81 {
  display: inline-block;
}
 
.about-us-fragment11 {
  display: contents;
}
 
.about-us-text77 {
  display: inline-block;
}
 
.about-us-fragment12 {
  display: contents;
}
 
.about-us-text78 {
  display: inline-block;
}
 
.about-us-fragment19 {
  display: contents;
}
 
.about-us-text85 {
  display: inline-block;
}
 
.about-us-fragment17 {
  display: contents;
}
 
.about-us-text83 {
  display: inline-block;
}
 
.about-us-fragment14 {
  display: contents;
}
 
.about-us-text80 {
  display: inline-block;
}
 
.about-us-fragment16 {
  display: contents;
}
 
.about-us-text82 {
  display: inline-block;
}
 
.about-us-fragment13 {
  display: contents;
}
 
.about-us-text79 {
  display: inline-block;
}
 
.about-us-fragment10 {
  display: contents;
}
 
.about-us-text76 {
  display: inline-block;
}
 
.about-us-fragment18 {
  display: contents;
}
 
.about-us-text84 {
  display: inline-block;
}
 

 
.footer1root-class-name1 {
  left: 0px;
  bottom: 0px;
  position: relative;
}
 

 

 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 991px) {
  .footer1-newsletter {
    width: 300px;
  }
  .footer1-container {
    width: 100%;
  }
  .footer1-text-input {
    width: 100%;
    padding: var(--dl-layout-space-halfunit);
  }
  .footer1-button {
    width: 100%;
    padding-top: var(--dl-layout-space-halfunit);
    padding-left: var(--dl-layout-space-halfunit);
    padding-right: var(--dl-layout-space-halfunit);
    padding-bottom: var(--dl-layout-space-halfunit);
  }
}
 
@media(max-width: 767px) {
  .footer1-content {
    flex-direction: column;
  }
  .footer1-newsletter {
    width: 100%;
  }
  .footer1-container {
    width: 100%;
  }
  .footer1-button {
    width: 208px;
  }
  .footer1-links {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .footer1-column1 {
    align-items: center;
  }
  .footer1-column1-title {
    text-align: center;
  }
  .footer1-footer-links {
    align-self: center;
  }
  .footer1-column3 {
    align-items: center;
  }
  .footer1-social-link1-title {
    text-align: center;
  }
  .footer1-social-links {
    align-self: center;
  }
}
 
@media(max-width: 479px) {
  .footer1-actions {
    width: 100%;
  }
  .footer1-container {
    width: 100%;
  }
  .footer1-button {
    width: 100%;
  }
  .footer1-links {
    flex-direction: column;
  }
  .footer1-column1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer1-footer-links {
    align-items: center;
    justify-content: center;
  }
  .footer1-column3 {
    width: 100%;
    display: none;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer1-social-links {
    align-items: center;
    justify-content: center;
  }
}

.about-us-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.about-us-about-us-page {
  width: 100%;
  align-items: center;
  flex-direction: column;
}
 
.about-us-container11 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/external/dsc4-1500w-1500w.jpg");
}
 
.about-us-container12 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.55);
}
 
.about-us-nav-bar {
  width: 80%;
  display: flex;
  z-index: 100;
  margin-top: 30px;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  border-color: #000000;
  border-style: groove;
  border-width: 3px;
  padding-left: var(--dl-layout-space-threeunits);
  border-radius: var(--dl-layout-radius-buttonradius);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgb(189, 157, 90) 1.00%,rgb(239, 227, 148) 100.00%);
  border-top-width: 0px;
  border-left-width: 0px;
}
 
.about-us-navlink1 {
  display: contents;
}
 
.about-us-image1 {
  height: 3rem;
  text-decoration: none;
}
 
.about-us-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.about-us-links1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.about-us-link11 {
  font-family: "Montserrat";
  text-decoration: none;
}
 
.about-us-link21 {
  font-family: "Montserrat";
  text-decoration: none;
}
 
.about-us-link31 {
  font-family: "Montserrat";
  text-decoration: none;
}
 
.about-us-link41 {
  font-family: "Montserrat";
  text-decoration: none;
}
 
.about-us-link51 {
  font-family: "Montserrat";
  text-decoration: none;
}
 
.about-us-buttons1 {
  gap: var(--dl-layout-space-twounits);
  display: none;
  align-items: center;
  flex-direction: row;
}
 
.about-us-action21 {
  color: #000000;
  display: flex;
  font-family: "Montserrat";
  border-color: #000000;
  flex-direction: row;
}
 
.about-us-text10 {
  color: #000000;
  font-style: normal;
  font-weight: 600;
}
 
.about-us-burger-menu {
  display: none;
}
 
.about-us-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.about-us-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: groove;
  border-width: 3px;
  border-radius: var(--dl-layout-radius-buttonradius);
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgb(189, 157, 90) 1.00%,rgb(239, 227, 148) 100.00%);
}
 
.about-us-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-us-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.about-us-navlink2 {
  display: contents;
}
 
.about-us-logo {
  height: 3rem;
  text-decoration: none;
}
 
.about-us-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.about-us-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.about-us-links2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-us-link12 {
  text-decoration: none;
}
 
.about-us-link22 {
  text-decoration: none;
}
 
.about-us-link32 {
  text-decoration: none;
}
 
.about-us-link42 {
  text-decoration: none;
}
 
.about-us-link52 {
  text-decoration: none;
}
 
.about-us-buttons2 {
  gap: var(--dl-layout-space-twounits);
  display: none;
  margin-top: var(--dl-layout-space-twounits);
  align-items: center;
  flex-direction: row;
}
 
.about-us-action22 {
  color: #000000;
  border-color: #000000;
}
 
.about-us-icon-group {
  gap: var(--dl-layout-space-twounits);
  display: flex;
}
 
.about-us-text12 {
  fill: #bd9d5a;
  color: rgb(189, 157, 90);
  font-size: 10vw;
  font-style: normal;
  margin-top: var(--dl-layout-space-twounits);
  text-align: center;
  font-family: "Montserrat";
  font-weight: 600;
  text-shadow: 0px 0px 0px black, /* Right shadow */                 -0px 0px 0px black, /* Left shadow */                 0px 0px 0px black, /* Top shadow */                 2px 2px 0px black;
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.about-us-text13 {
  font-size: 72px;
}
 
.about-us-container13 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.about-us-max-width1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-container14 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-title10 {
  text-align: center;
  font-family: "Montserrat";
}
 
.about-us-text15 {
  font-style: normal;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 500;
}
 
.about-us-layout349 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 1.00%,rgba(1, 122, 72, 0.75) 9.00%,rgba(1, 122, 72, 0.75) 54.00%,rgb(1, 122, 72) 93.00%,rgb(255, 255, 255) 100.00%);
}
 
.about-us-max-width2 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-text16 {
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
}
 
.about-us-container16 {
  flex: 1;
  width: 350px;
  height: 350px;
  display: flex;
  align-self: flex-start;
  box-shadow: 2px 2px 4px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-theme-accent1);
}
 
.about-us-icon20 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  align-self: flex-start;
}
 
.about-us-text17 {
  font-size: 25px;
  font-family: "Montserrat";
}
 
.about-us-text18 {
  text-align: left;
  font-family: "Montserrat";
}
 
.about-us-container17 {
  flex: 1;
  width: 350px;
  height: 350px;
  display: flex;
  align-self: flex-start;
  box-shadow: 2px 2px 4px 0px #313131;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(189, 157, 90);
}
 
.about-us-icon22 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  align-self: flex-start;
}
 
.about-us-text19 {
  font-size: 25px;
  font-family: "Montserrat";
}
 
.about-us-text20 {
  text-align: left;
  font-family: "Montserrat";
}
 
.about-us-container18 {
  flex: 1;
  width: 350px;
  height: 350px;
  display: flex;
  align-self: flex-start;
  box-shadow: 2px 2px 4px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-theme-accent1);
}
 
.about-us-icon25 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  align-self: flex-start;
}
 
.about-us-text21 {
  font-size: 25px;
  font-family: "Montserrat";
}
 
.about-us-text22 {
  text-align: left;
  font-family: "Montserrat";
}
 
.about-us-article {
  display: flex;
  position: relative;
  align-items: center;
}
 
.about-us-max-width3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-heading {
  color: #000000;
  align-self: center;
  text-align: center;
  font-family: "Montserrat";
}
 
.about-us-image {
  width: 50%;
  object-fit: cover;
}
 
.about-us-content10 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 50%;
  height: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
 
.about-us-title11 {
  color: #000000;
  font-size: 30px;
  font-style: normal;
  font-family: "Montserrat";
  font-weight: 600;
}
 
.about-us-author-name {
  font-size: 32px;
  align-self: flex-start;
  font-style: italic;
  text-align: left;
  font-weight: 200;
}
 
.about-us-link {
  fill: #bd9d5a;
  color: #000000;
  font-size: 25px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Montserrat";
  font-weight: 500;
  border-color: #000000;
  border-width: 3px;
  border-radius: 0px;
  text-decoration: none;
  background-color: rgb(189, 157, 90);
}
 
.about-us-team8 {
  display: none;
}
 
.about-us-max-width4 {
  gap: var(--dl-layout-space-twounits);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-section-title {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.about-us-content11 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-text23 {
  font-family: "Montserrat";
}
 
.about-us-slider1 {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
  align-self: center;
}
 
.about-us-slider-slide10 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.about-us-card11 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-us-content12 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-us-title12 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-us-text24 {
  font-style: normal;
  font-family: "Montserrat";
  font-weight: 600;
}
 
.about-us-text25 {
  font-family: "Montserrat";
}
 
.about-us-text26 {
  overflow: auto;
  max-height: var(--dl-layout-size-large);
  font-family: "Montserrat";
}
 
.about-us-social-icons10 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.about-us-card12 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-us-content13 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-us-title13 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-us-text27 {
  font-style: normal;
  font-family: "Montserrat";
  font-weight: 600;
}
 
.about-us-text28 {
  font-family: "Montserrat";
}
 
.about-us-text29 {
  overflow: auto;
  max-height: var(--dl-layout-size-large);
  font-family: "Montserrat";
}
 
.about-us-social-icons11 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.about-us-card13 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-us-content14 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-us-title14 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-us-text30 {
  font-style: normal;
  font-family: "Montserrat";
  font-weight: 600;
}
 
.about-us-text31 {
  font-family: "Montserrat";
}
 
.about-us-text32 {
  overflow: auto;
  max-height: var(--dl-layout-size-large);
  font-family: "Montserrat";
}
 
.about-us-social-icons12 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.about-us-card14 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-us-content15 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-us-title15 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-us-text33 {
  font-style: normal;
  font-family: "Montserrat";
  font-weight: 600;
}
 
.about-us-text34 {
  font-family: "Montserrat";
}
 
.about-us-text35 {
  overflow: auto;
  max-height: var(--dl-layout-size-large);
  font-family: "Montserrat";
}
 
.about-us-social-icons13 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.about-us-slider-slide11 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.about-us-card15 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-us-content16 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-us-title16 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-us-text36 {
  font-family: "Montserrat";
}
 
.about-us-text37 {
  font-family: "Montserrat";
}
 
.about-us-text38 {
  overflow: auto;
  max-height: var(--dl-layout-size-large);
  font-family: "Montserrat";
}
 
.about-us-social-icons14 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.about-us-card16 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-us-content17 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-us-title17 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-us-text39 {
  font-family: "Montserrat";
}
 
.about-us-text40 {
  font-family: "Montserrat";
}
 
.about-us-text41 {
  overflow: auto;
  max-height: var(--dl-layout-size-large);
  font-family: "Montserrat";
}
 
.about-us-social-icons15 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.about-us-card17 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-us-content18 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-us-title18 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-us-text42 {
  font-family: "Montserrat";
}
 
.about-us-text43 {
  font-family: "Montserrat";
}
 
.about-us-text44 {
  overflow: auto;
  max-height: var(--dl-layout-size-large);
  font-family: "Montserrat";
}
 
.about-us-social-icons16 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.about-us-card18 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-us-content19 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-us-title19 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-us-text45 {
  font-family: "Montserrat";
}
 
.about-us-text46 {
  font-family: "Montserrat";
}
 
.about-us-text47 {
  overflow: auto;
  max-height: var(--dl-layout-size-large);
  font-family: "Montserrat";
}
 
.about-us-social-icons17 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.about-us-slider-pagination1 {
  display: block;
}
 
.about-us-slider2 {
  width: 100%;
  height: auto;
  display: none;
  position: relative;
}
 
.about-us-slider-slide12 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.about-us-card19 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-content20 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-title20 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-text48 {
  font-style: normal;
  font-weight: 600;
}
 
.about-us-text50 {
  text-align: center;
}
 
.about-us-text51 {
  overflow: auto;
  max-height: var(--dl-layout-size-medium);
  text-align: center;
}
 
.about-us-social-icons18 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.about-us-slider-slide13 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.about-us-card20 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-content21 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-title21 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-text52 {
  font-style: normal;
  font-weight: 600;
}
 
.about-us-text53 {
  text-align: center;
}
 
.about-us-text54 {
  overflow: auto;
  max-height: var(--dl-layout-size-large);
  text-align: left;
}
 
.about-us-social-icons19 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.about-us-slider-slide14 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.about-us-card21 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-content22 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-title22 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-text55 {
  font-style: normal;
  font-weight: 600;
}
 
.about-us-text56 {
  text-align: center;
}
 
.about-us-text57 {
  overflow: auto;
  max-height: var(--dl-layout-size-large);
  text-align: left;
}
 
.about-us-social-icons20 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.about-us-slider-slide15 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.about-us-card22 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-content23 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-title23 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-text58 {
  font-style: normal;
  font-weight: 600;
}
 
.about-us-text59 {
  text-align: center;
}
 
.about-us-text60 {
  overflow: auto;
  max-height: var(--dl-layout-size-large);
  text-align: left;
}
 
.about-us-social-icons21 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.about-us-slider-slide16 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.about-us-card23 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-content24 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-title24 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-text61 {
  font-style: normal;
  font-weight: 600;
}
 
.about-us-text62 {
  text-align: center;
}
 
.about-us-text63 {
  overflow: hidden;
  max-height: var(--dl-layout-size-medium);
  text-align: center;
}
 
.about-us-social-icons22 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.about-us-slider-slide17 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.about-us-card24 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-content25 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-title25 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-text64 {
  font-style: normal;
  font-weight: 600;
}
 
.about-us-text65 {
  text-align: center;
}
 
.about-us-text66 {
  overflow: auto;
  max-height: var(--dl-layout-size-medium);
  text-align: center;
}
 
.about-us-social-icons23 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.about-us-slider-slide18 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.about-us-card25 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-content26 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-title26 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-text67 {
  font-style: normal;
  font-weight: 600;
}
 
.about-us-text68 {
  text-align: center;
}
 
.about-us-text69 {
  overflow: auto;
  max-height: var(--dl-layout-size-medium);
  text-align: center;
}
 
.about-us-social-icons24 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.about-us-slider-slide19 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.about-us-card26 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-content27 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-title27 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.about-us-text70 {
  font-style: normal;
  font-weight: 600;
}
 
.about-us-text71 {
  text-align: center;
}
 
.about-us-text72 {
  overflow: auto;
  max-height: var(--dl-layout-size-medium);
  text-align: center;
}
 
.about-us-social-icons25 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.about-us-slider-pagination2 {
  display: block;
}
 
.about-us-container19 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-us-background-image {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
 
.about-us-fade {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0px;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.55);
}
 
.about-us-max-width5 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  overflow: hidden;
  max-width: var(--dl-layout-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.about-us-column {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  flex-direction: column;
}
 
.about-us-content28 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-us-text73 {
  fill: rgb(189, 157, 90);
  color: rgb(189, 157, 90);
  font-family: "Montserrat";
  text-shadow: 0px 0px 0px black, /* Right shadow */                 -0px 0px 0px black, /* Left shadow */                 0px 0px 0px black, /* Top shadow */                 2px 2px 0px black;
}
 
.about-us-text74 {
  fill: rgb(189, 157, 90);
  color: rgb(189, 157, 90);
  font-family: "Montserrat";
  text-shadow: 0px 0px 0px black, /* Right shadow */                 -0px 0px 0px black, /* Left shadow */                 0px 0px 0px black, /* Top shadow */                 2px 2px 0px black;
}
 
.about-us-actions {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
 
.about-us-navlink6 {
  color: #000000;
  border-color: #000000;
  text-decoration: none;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgb(189, 157, 90) 1.00%,rgb(239, 227, 148) 100.00%);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
 
.about-us-fragment10 {
  display: contents;
}
 
.about-us-text76 {
  display: inline-block;
}
 
.about-us-fragment11 {
  display: contents;
}
 
.about-us-text77 {
  display: inline-block;
}
 
.about-us-fragment12 {
  display: contents;
}
 
.about-us-text78 {
  display: inline-block;
}
 
.about-us-fragment13 {
  display: contents;
}
 
.about-us-text79 {
  display: inline-block;
}
 
.about-us-fragment14 {
  display: contents;
}
 
.about-us-text80 {
  display: inline-block;
}
 
.about-us-fragment15 {
  display: contents;
}
 
.about-us-text81 {
  display: inline-block;
}
 
.about-us-fragment16 {
  display: contents;
}
 
.about-us-text82 {
  display: inline-block;
}
 
.about-us-fragment17 {
  display: contents;
}
 
.about-us-text83 {
  display: inline-block;
}
 
.about-us-fragment18 {
  display: contents;
}
 
.about-us-text84 {
  display: inline-block;
}
 
.about-us-fragment19 {
  display: contents;
}
 
.about-us-text85 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .about-us-nav-bar {
    z-index: 100;
  }
  .about-us-desktop-menu {
    display: none;
  }
  .about-us-burger-menu {
    display: flex;
  }
  .about-us-icon10 {
    width: var(--dl-layout-size-small);
    height: var(--dl-layout-size-small);
  }
  .about-us-icon12 {
    width: var(--dl-layout-size-small);
    height: var(--dl-layout-size-small);
  }
  .about-us-max-width2 {
    flex-direction: column;
  }
  .about-us-container15 {
    grid-template-columns: 1fr 1fr;
  }
  .about-us-card10 {
    flex-direction: column;
  }
  .about-us-image {
    width: 100%;
    height: 500px;
  }
  .about-us-content10 {
    width: 100%;
    align-items: center;
  }
  .about-us-title11 {
    align-self: center;
    text-align: center;
  }
  .about-us-author-name {
    align-self: center;
  }
  .about-us-link {
    align-self: center;
  }
}
 
@media(max-width: 767px) {
  .about-us-nav-bar {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .about-us-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .about-us-container15 {
    display: grid;
  }
  .about-us-container16 {
    width: 100%;
  }
  .about-us-container17 {
    width: 100%;
  }
  .about-us-container18 {
    width: 100%;
  }
  .about-us-content10 {
    flex-direction: column;
  }
  .about-us-max-width4 {
    padding: var(--dl-layout-space-threeunits);
  }
  .about-us-slider1 {
    display: none;
  }
  .about-us-slider2 {
    display: block;
  }
  .about-us-text48 {
    font-family: Montserrat;
  }
  .about-us-text50 {
    font-family: Montserrat;
  }
  .about-us-text51 {
    font-family: Montserrat;
  }
  .about-us-text52 {
    font-family: Montserrat;
  }
  .about-us-text53 {
    font-family: Montserrat;
  }
  .about-us-text54 {
    font-family: Montserrat;
  }
  .about-us-text55 {
    font-family: Montserrat;
  }
  .about-us-text56 {
    font-family: Montserrat;
  }
  .about-us-text57 {
    font-family: Montserrat;
  }
  .about-us-text58 {
    font-family: Montserrat;
  }
  .about-us-text59 {
    font-family: Montserrat;
  }
  .about-us-text60 {
    font-family: Montserrat;
  }
  .about-us-text61 {
    font-family: Montserrat;
  }
  .about-us-text62 {
    font-family: Montserrat;
  }
  .about-us-text63 {
    font-family: Montserrat;
  }
  .about-us-text64 {
    font-family: Montserrat;
  }
  .about-us-text65 {
    font-family: Montserrat;
  }
  .about-us-text66 {
    font-family: Montserrat;
  }
  .about-us-text67 {
    font-family: Montserrat;
  }
  .about-us-text68 {
    font-family: Montserrat;
  }
  .about-us-text69 {
    font-family: Montserrat;
  }
  .about-us-text70 {
    font-family: Montserrat;
  }
  .about-us-text71 {
    font-family: Montserrat;
  }
  .about-us-text72 {
    font-family: Montserrat;
  }
  .about-us-actions {
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .about-us-nav-bar {
    padding: var(--dl-layout-space-unit);
    padding-right: 16px;
  }
  .about-us-mobile-menu {
    padding: var(--dl-layout-space-unit);
  }
  .about-us-max-width2 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .about-us-container15 {
    grid-template-columns: 1fr;
  }
  .about-us-title11 {
    text-align: center;
  }
  .about-us-author-name {
    align-self: center;
  }
  .about-us-max-width4 {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
}
