.about-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.about-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.about-container11 {
  width: 100%;
  display: flex;
  z-index: 20;
  align-items: center;
  margin-bottom: 120px;
  flex-direction: column;
  justify-content: flex-start;
}
 
.about-org-hero1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.about-text10 {
  color: rgb(0, 0, 0);
  z-index: 20;
  font-size: 4.3vw;
  font-style: normal;
  font-family: "Uncut-Sans-Semibold";
  font-weight: 500;
  margin-left: var(--dl-layout-space-halfunit);
}
 
.about-text11 {
  color: #000000;
  z-index: 20;
  font-size: 4.3vw;
  font-style: normal;
  font-family: "Uncut-Sans-Semibold";
  font-weight: 500;
  margin-right: var(--dl-layout-space-halfunit);
}
 
.about-container12 {
  gap: var(--dl-layout-space-unit);
  width: 95%;
  height: auto;
  display: flex;
  margin-top: var(--dl-layout-space-threeunits);
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  flex-direction: row;
  justify-content: center;
}
 
.about-container13 {
  gap: var(--dl-layout-space-unit);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.about-text12 {
  color: rgb(0, 0, 0);
  z-index: 10;
  font-size: 5vw;
  font-family: "Uncut-Sans-VF-Regular";
}
 
.about-text15 {
  color: rgb(0, 0, 0);
  z-index: 10;
  font-size: 2.7vw;
  font-family: "Uncut-Sans-VF-Regular";
}
 
.about-image1 {
  width: auto;
  height: 400px;
  object-fit: cover;
}
 
.about-icon1 {
  width: 75px;
  height: 75px;
}
 
.about-navbar-interactive {
  width: 100%;
  display: flex;
  z-index: 100100;
  align-items: center;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: space-between;
}
 
.about-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.about-links1 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.about-nav-bar {
  width: 100%;
  display: flex;
  z-index: 20;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
 
.about-container14 {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
 
.about-navlink1 {
  display: contents;
}
 
.about-text23 {
  color: #000000;
  z-index: 20;
  font-size: 2.3vw;
  font-style: normal;
  font-family: "Uncut-Sans-VF-Regular";
  font-weight: 300;
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.about-navlink2 {
  display: contents;
}
 
.about-text24 {
  color: #000000;
  z-index: 20;
  font-size: 2.3vw;
  font-style: normal;
  text-align: center;
  font-family: "Uncut-Sans-VF-Regular";
  font-weight: 300;
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.about-container15 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.about-navlink3 {
  display: contents;
}
 
.about-text29 {
  color: #000000;
  z-index: 20;
  font-size: 2.3vw;
  font-style: normal;
  font-family: "Uncut-Sans-VF-Regular";
  font-weight: 300;
  margin-right: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.about-navlink4 {
  display: contents;
}
 
.about-text30 {
  color: #000000;
  z-index: 20;
  font-size: 2.3vw;
  font-style: normal;
  font-family: "Uncut-Sans-VF-Regular";
  font-weight: 300;
  margin-right: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.about-burger-menu {
  display: none;
}
 
.about-text31 {
  color: rgb(255, 255, 255);
  z-index: 20;
  font-size: 4.3vw;
  font-style: normal;
  font-family: "Uncut-Sans-Semibold";
  font-weight: 500;
  margin-left: var(--dl-layout-space-halfunit);
}
 
.about-mobile-menu {
  width: 100%;
  bottom: 0px;
  height: 100%;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000000;
}
 
.about-nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
}
 
.about-top {
  width: 100%;
  display: flex;
  margin-top: var(--dl-layout-space-threeunits);
  align-items: center;
  justify-content: space-between;
}
 
.about-org-hero2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.about-text32 {
  color: rgb(255, 255, 255);
  z-index: 20;
  font-size: 55px;
  font-style: normal;
  font-family: "Uncut-Sans-Semibold";
  font-weight: 500;
  margin-left: var(--dl-layout-space-halfunit);
}
 
.about-text33 {
  color: rgb(255, 255, 255);
  z-index: 20;
  font-size: 55px;
  font-style: normal;
  font-family: "Uncut-Sans-Semibold";
  font-weight: 500;
  margin-right: var(--dl-layout-space-halfunit);
}
 
.about-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.about-icon5 {
  fill: #ffffff;
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
}
 
.about-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.about-navlink5 {
  color: #ffffff;
  font-size: 40px;
  font-family: "Uncut-Sans-Regular";
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.about-navlink6 {
  color: #ffffff;
  font-size: 40px;
  font-family: "Uncut-Sans-Regular";
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.about-navlink7 {
  color: #ffffff;
  font-size: 40px;
  font-family: "Uncut-Sans-Regular";
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.about-navlink8 {
  color: #ffffff;
  font-size: 40px;
  font-family: "Uncut-Sans-Regular";
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.about-navlink9 {
  color: #ffffff;
  font-size: 40px;
  font-family: "Uncut-Sans-Regular";
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.about-container16 {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 120px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.about-container17 {
  gap: var(--dl-layout-space-unit);
  width: 95%;
  height: 400px;
  display: flex;
  margin-top: var(--dl-layout-space-threeunits);
  align-items: flex-end;
  margin-bottom: var(--dl-layout-space-threeunits);
  flex-direction: row;
  justify-content: center;
}
 
.about-container18 {
  gap: var(--dl-layout-space-oneandhalfunits);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
 
.about-text34 {
  color: rgb(0, 0, 0);
  z-index: 10;
  font-size: 2.7vw;
  font-family: "Uncut-Sans-VF-Regular";
}
 
.about-text35 {
  color: rgb(0, 0, 0);
  z-index: 10;
  font-size: 2.7vw;
  font-family: "Uncut-Sans-VF-Regular";
}
 
.about-text36 {
  color: rgb(0, 0, 0);
  z-index: 10;
  font-size: 2.7vw;
  font-family: "Uncut-Sans-VF-Regular";
}
 
.about-image2 {
  width: 70vw;
  height: 350px;
  object-fit: cover;
}
 
.about-container19 {
  gap: var(--dl-layout-space-unit);
  width: 95%;
  height: auto;
  display: flex;
  margin-top: var(--dl-layout-space-threeunits);
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  flex-direction: row;
  justify-content: center;
}
 
.about-image3 {
  height: 450px;
  object-fit: cover;
}
 
.about-container20 {
  gap: var(--dl-layout-space-oneandhalfunits);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
 
.about-container21 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
 
.about-text37 {
  color: rgb(0, 0, 0);
  z-index: 10;
  font-size: 6vw;
  font-family: "Uncut-Sans-VF-Regular";
}
 
.about-text40 {
  color: rgb(0, 0, 0);
  z-index: 10;
  font-size: 2vw;
  font-family: "Uncut-Sans-VF-Regular";
}
 
.about-text41 {
  color: rgb(0, 0, 0);
  z-index: 10;
  font-size: 2vw;
  font-family: "Uncut-Sans-VF-Regular";
}
 
.about-text46 {
  text-decoration: underline;
}
 
@media(max-width: 905px) {
  .about-text32 {
    font-size: 55px;
  }
}
 
@media(max-width: 767px) {
  .about-text10 {
    font-size: 7vw;
  }
  .about-text11 {
    font-size: 7vw;
  }
  .about-container12 {
    flex-direction: column-reverse;
  }
  .about-container13 {
    align-items: center;
  }
  .about-image1 {
    width: 80%;
    height: auto;
  }
  .about-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .about-desktop-menu {
    display: none;
  }
  .about-burger-menu {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
  }
  .about-icon3 {
    fill: var(--dl-color-theme-neutral-dark);
    color: #000000;
    width: 4vw;
    height: 4vw;
  }
  .about-text31 {
    color: #000000;
    font-size: 4.3vw;
    font-style: normal;
    font-family: Uncut-Sans-Semibold;
    font-weight: 500;
    margin-left: 0px;
  }
  .about-mobile-menu {
    top: 0px;
    left: 0px;
    position: fixed;
  }
  .about-text32 {
    font-size: 40px;
  }
  .about-text33 {
    font-size: 40px;
  }
  .about-navlink5 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .about-navlink6 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .about-navlink7 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .about-navlink8 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .about-navlink9 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .about-container17 {
    height: auto;
    align-items: center;
    flex-direction: column-reverse;
  }
  .about-container18 {
    align-items: center;
  }
  .about-image2 {
    width: 80%;
  }
  .about-container19 {
    flex-direction: column;
  }
  .about-image3 {
    width: 80%;
  }
  .about-container20 {
    align-items: center;
  }
  .about-container21 {
    align-items: center;
  }
}
 
@media(max-width: 479px) {
  .about-text10 {
    font-size: 10vw;
  }
  .about-text11 {
    font-size: 10vw;
  }
  .about-text12 {
    font-size: 7vw;
  }
  .about-text15 {
    font-size: 3.7vw;
    text-align: center;
  }
  .about-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .about-icon3 {
    align-self: center;
  }
  .about-text31 {
    align-self: center;
  }
  .about-mobile-menu {
    padding: 16px;
  }
  .about-text34 {
    font-size: 3.7vw;
  }
  .about-text35 {
    font-size: 3.7vw;
    text-align: center;
  }
  .about-text36 {
    font-size: 3.7vw;
    text-align: center;
  }
  .about-text37 {
    font-size: 8vw;
    text-align: center;
  }
  .about-text40 {
    font-size: 4vw;
    text-align: center;
  }
  .about-text41 {
    font-size: 4vw;
    text-align: center;
  }
}
