.contact-us-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.contact-us-hero {
  width: 100%;
  height: 100%;
  padding: 0px;
  perspective: 10px;
  flex-direction: column;
}
 
.contact-us-container2 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  transform-style: preserve-3d;
}
 
.contact-us-background-overlay {
  width: 100%;
  padding: 0px;
  align-self: center;
  min-height: 100vh;
  justify-content: center;
}
 
.contact-us-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.contact-us-container3 {
  width: 100%;
  display: flex;
  z-index: 20;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.contact-us-org-hero1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.contact-us-text10 {
  color: rgb(0, 0, 0);
  z-index: 20;
  font-size: 4.3vw;
  font-style: normal;
  font-family: "Uncut-Sans-Semibold";
  font-weight: 500;
  margin-left: var(--dl-layout-space-halfunit);
}
 
.contact-us-text11 {
  color: #000000;
  z-index: 20;
  font-size: 4.3vw;
  font-style: normal;
  font-family: "Uncut-Sans-Semibold";
  font-weight: 500;
  margin-right: var(--dl-layout-space-halfunit);
}
 
.contact-us-text12 {
  color: rgb(0, 0, 0);
  z-index: 10;
  font-size: 13vw;
  font-family: "Uncut-Sans-VF-Regular";
  padding-top: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.contact-us-form {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: var(--dl-layout-space-threeunits);
  flex-direction: column;
}
 
.contact-us-container4 {
  width: 100%;
  display: flex;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
}
 
.contact-us-textinput1 {
  color: #ffffff;
  width: 41vw;
  height: 80px;
  font-size: 30px;
  font-family: "Uncut-Sans-VF-Regular";
  border-width: 0px;
  background-color: #000000;
}
 
.contact-us-textinput2 {
  color: #ffffff;
  width: 41vw;
  height: 80px;
  font-size: 30px;
  font-family: "Uncut-Sans-VF-Regular";
  border-width: 0px;
  background-color: #000000;
}
 
.contact-us-container5 {
  width: 100%;
  display: flex;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
}
 
.contact-us-textinput3 {
  color: #ffffff;
  width: 41vw;
  height: 80px;
  font-size: 30px;
  font-family: "Uncut-Sans-VF-Regular";
  border-width: 0px;
  background-color: #000000;
}
 
.contact-us-textinput4 {
  color: #ffffff;
  width: 41vw;
  height: 80px;
  font-size: 30px;
  font-family: "Uncut-Sans-VF-Regular";
  border-width: 0px;
  background-color: #000000;
}
 
.contact-us-select {
  color: white;
  width: auto;
  height: 80px;
  font-size: 30px;
  font-family: "Uncut-Sans-VF-Regular";
  margin-left: var(--dl-layout-space-oneandhalfunits);
  margin-right: var(--dl-layout-space-oneandhalfunits);
  background-color: black;
}
 
.contact-us-textarea {
  color: #ffffff;
  height: 300px;
  font-size: 30px;
  font-family: "Uncut-Sans-VF-Regular";
  margin-left: var(--dl-layout-space-oneandhalfunits);
  border-width: 0px;
  margin-right: var(--dl-layout-space-oneandhalfunits);
  background-color: #000000;
}
 
.contact-us-button {
  color: rgb(255, 255, 255);
  width: auto;
  cursor: pointer;
  height: auto;
  font-size: 25px;
  align-self: center;
  font-family: "Uncut-Sans-VF-Regular";
  background-color: rgb(0, 0, 0);
}
 
.contact-us-navbar-interactive {
  width: 100%;
  display: flex;
  z-index: 100100;
  align-items: center;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: space-between;
}
 
.contact-us-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.contact-us-links1 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.contact-us-nav-bar {
  width: 100%;
  display: flex;
  z-index: 20;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
 
.contact-us-container6 {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
 
.contact-us-navlink1 {
  display: contents;
}
 
.contact-us-text13 {
  color: #000000;
  z-index: 20;
  font-size: 2.3vw;
  font-style: normal;
  font-family: "Uncut-Sans-VF-Regular";
  font-weight: 300;
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.contact-us-navlink2 {
  display: contents;
}
 
.contact-us-text14 {
  color: #000000;
  z-index: 20;
  font-size: 2.3vw;
  font-style: normal;
  text-align: center;
  font-family: "Uncut-Sans-VF-Regular";
  font-weight: 300;
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.contact-us-container7 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.contact-us-navlink3 {
  display: contents;
}
 
.contact-us-text19 {
  color: #000000;
  z-index: 20;
  font-size: 2.3vw;
  font-style: normal;
  font-family: "Uncut-Sans-VF-Regular";
  font-weight: 300;
  margin-right: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.contact-us-navlink4 {
  display: contents;
}
 
.contact-us-text20 {
  color: #000000;
  z-index: 20;
  font-size: 2.3vw;
  font-style: normal;
  font-family: "Uncut-Sans-VF-Regular";
  font-weight: 300;
  margin-right: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.contact-us-burger-menu {
  display: none;
}
 
.contact-us-text21 {
  color: rgb(255, 255, 255);
  z-index: 20;
  font-size: 4.3vw;
  font-style: normal;
  font-family: "Uncut-Sans-Semibold";
  font-weight: 500;
  margin-left: var(--dl-layout-space-halfunit);
}
 
.contact-us-mobile-menu {
  width: 100%;
  bottom: 0px;
  height: 100%;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000000;
}
 
.contact-us-nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
}
 
.contact-us-top {
  width: 100%;
  display: flex;
  margin-top: var(--dl-layout-space-threeunits);
  align-items: center;
  justify-content: space-between;
}
 
.contact-us-org-hero2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.contact-us-text22 {
  color: rgb(255, 255, 255);
  z-index: 20;
  font-size: 55px;
  font-style: normal;
  font-family: "Uncut-Sans-Semibold";
  font-weight: 500;
  margin-left: var(--dl-layout-space-halfunit);
}
 
.contact-us-text23 {
  color: rgb(255, 255, 255);
  z-index: 20;
  font-size: 55px;
  font-style: normal;
  font-family: "Uncut-Sans-Semibold";
  font-weight: 500;
  margin-right: var(--dl-layout-space-halfunit);
}
 
.contact-us-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.contact-us-icon3 {
  fill: #ffffff;
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
}
 
.contact-us-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-us-navlink5 {
  color: #ffffff;
  font-size: 40px;
  font-family: "Uncut-Sans-Regular";
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.contact-us-navlink6 {
  color: #ffffff;
  font-size: 40px;
  font-family: "Uncut-Sans-Regular";
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.contact-us-navlink7 {
  color: #ffffff;
  font-size: 40px;
  font-family: "Uncut-Sans-Regular";
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.contact-us-navlink8 {
  color: #ffffff;
  font-size: 40px;
  font-family: "Uncut-Sans-Regular";
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.contact-us-navlink9 {
  color: #ffffff;
  font-size: 40px;
  font-family: "Uncut-Sans-Regular";
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
@media(max-width: 905px) {
  .contact-us-container4 {
    gap: var(--dl-layout-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .contact-us-textinput1 {
    width: 100%;
  }
  .contact-us-textinput2 {
    width: 100%;
  }
  .contact-us-container5 {
    gap: var(--dl-layout-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .contact-us-textinput3 {
    width: 100%;
  }
  .contact-us-textinput4 {
    width: 100%;
  }
  .contact-us-text22 {
    font-size: 55px;
  }
}
 
@media(max-width: 767px) {
  .contact-us-background-overlay {
    display: flex;
    justify-content: center;
  }
  .contact-us-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .contact-us-desktop-menu {
    display: none;
  }
  .contact-us-burger-menu {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
  }
  .contact-us-icon1 {
    fill: var(--dl-color-theme-neutral-dark);
    color: #000000;
    width: 4vw;
    height: 4vw;
  }
  .contact-us-text21 {
    color: #000000;
    font-size: 4.3vw;
    font-style: normal;
    font-family: Uncut-Sans-Semibold;
    font-weight: 500;
    margin-left: 0px;
  }
  .contact-us-mobile-menu {
    top: 0px;
    left: 0px;
    position: fixed;
  }
  .contact-us-text22 {
    font-size: 40px;
  }
  .contact-us-text23 {
    font-size: 40px;
  }
  .contact-us-navlink5 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .contact-us-navlink6 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .contact-us-navlink7 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .contact-us-navlink8 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .contact-us-navlink9 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
}
 
@media(max-width: 479px) {
  .contact-us-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .contact-us-icon1 {
    align-self: center;
  }
  .contact-us-text21 {
    align-self: center;
  }
  .contact-us-mobile-menu {
    padding: 16px;
  }
}
