.footer1-wrapper {
  display: contents;
}
 
.footer1-footer1 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.footer1-max-width {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer1-content {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-radius4);
}
 
.footer1-newsletter {
  gap: 24px;
  width: 500px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer1-image1 {
  width: 10vw;
  text-decoration: none;
}
 
.footer1-content1 {
  font-family: "Montserrat";
}
 
.footer1-actions {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer1-form {
  height: auto;
  margin: 0px;
  display: flex;
  align-self: stretch;
  align-items: stretch;
}
 
.footer1-container {
  width: 365px;
  display: flex;
  align-items: flex-start;
}
 
.footer1-text-input {
  gap: 8px;
  width: 100%;
  height: 32px;
  display: flex;
  font-size: 16px;
  box-sizing: content-box;
  text-align: left;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 400;
  background-color: transparent;
}
 
.footer1-button {
  color: #017a48;
  transition: 0.3s;
  border-color: #017a48;
}
 
.footer1-button:hover {
  color: #000000;
  border-color: #000000;
  background-image: linear-gradient(90deg, rgb(189, 157, 90) 1.00%,rgb(239, 227, 148) 100.00%);
}
 
.footer1-action1 {
  font-family: "Montserrat";
}
 
.footer1-content2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.footer1-links {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
}
 
.footer1-column1 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer1-column1-title {
  font-family: "Montserrat";
}
 
.footer1-footer-links {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer1-link1 {
  font-family: "Montserrat";
  text-decoration: none;
}
 
.footer1-link21 {
  font-family: "Montserrat";
  text-decoration: none;
}
 
.footer1-link22 {
  font-family: "Montserrat";
  text-decoration: none;
}
 
.footer1-link23 {
  font-family: "Montserrat";
  text-decoration: none;
}
 
.footer1-link24 {
  font-family: "Montserrat";
  text-decoration: none;
}
 
.footer1-link25 {
  font-family: "Montserrat";
  text-decoration: none;
}
 
.footer1-column3 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer1-social-link1-title {
  font-family: "Montserrat";
}
 
.footer1-social-links {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer1-link3 {
  gap: 12px;
  display: none;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.footer1-social-link1 {
  font-family: "Montserrat";
}
 
.footer1-link4 {
  display: contents;
}
 
.footer1-link5 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;
}
 
.footer1-social-link2 {
  font-family: "Montserrat";
}
 
.footer1-link6 {
  gap: 12px;
  display: none;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.footer1-social-link3 {
  font-family: "Montserrat";
}
 
.footer1-link7 {
  gap: 12px;
  display: none;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.footer1-social-link4 {
  font-family: "Montserrat";
}
 
.footer1-link8 {
  display: contents;
}
 
.footer1-link9 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;
}
 
.footer1-social-link5 {
  font-family: "Montserrat";
}
 
.gallery-fragment15 {
  display: contents;
}
 
.gallery-text24 {
  display: inline-block;
}
 
.gallery-fragment11 {
  display: contents;
}
 
.gallery-text20 {
  display: inline-block;
}
 
.gallery-fragment12 {
  display: contents;
}
 
.gallery-text21 {
  display: inline-block;
}
 
.gallery-fragment19 {
  display: contents;
}
 
.gallery-text28 {
  display: inline-block;
}
 
.gallery-fragment17 {
  display: contents;
}
 
.gallery-text26 {
  display: inline-block;
}
 
.gallery-fragment14 {
  display: contents;
}
 
.gallery-text23 {
  display: inline-block;
}
 
.gallery-fragment16 {
  display: contents;
}
 
.gallery-text25 {
  display: inline-block;
}
 
.gallery-fragment13 {
  display: contents;
}
 
.gallery-text22 {
  display: inline-block;
}
 
.gallery-fragment10 {
  display: contents;
}
 
.gallery-text19 {
  display: inline-block;
}
 
.gallery-fragment18 {
  display: contents;
}
 
.gallery-text27 {
  display: inline-block;
}
 

 
.footer1root-class-name1 {
  left: 0px;
  bottom: 0px;
  position: relative;
}
 

 

 

 

 

 

 

 

 

 

 

 

 
@media(max-width: 991px) {
  .footer1-newsletter {
    width: 300px;
  }
  .footer1-container {
    width: 100%;
  }
  .footer1-text-input {
    width: 100%;
    padding: var(--dl-space-space-halfunit);
  }
  .footer1-button {
    width: 100%;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
}
 
@media(max-width: 767px) {
  .footer1-content {
    flex-direction: column;
  }
  .footer1-newsletter {
    width: 100%;
  }
  .footer1-container {
    width: 100%;
  }
  .footer1-button {
    width: 208px;
  }
  .footer1-links {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .footer1-column1 {
    align-items: center;
  }
  .footer1-column1-title {
    text-align: center;
  }
  .footer1-footer-links {
    align-self: center;
  }
  .footer1-column3 {
    align-items: center;
  }
  .footer1-social-link1-title {
    text-align: center;
  }
  .footer1-social-links {
    align-self: center;
  }
}
 
@media(max-width: 479px) {
  .footer1-actions {
    width: 100%;
  }
  .footer1-container {
    width: 100%;
  }
  .footer1-button {
    width: 100%;
  }
  .footer1-links {
    flex-direction: column;
  }
  .footer1-column1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer1-footer-links {
    align-items: center;
    justify-content: center;
  }
  .footer1-column3 {
    width: 100%;
    display: none;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer1-social-links {
    align-items: center;
    justify-content: center;
  }
}

.gallery-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.gallery-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/external/dsc4-1500w-1500w.jpg");
}
 
.gallery-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.55);
}
 
.gallery-nav-bar {
  width: 80%;
  display: flex;
  z-index: 100;
  margin-top: 30px;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #000000;
  border-style: groove;
  border-width: 3px;
  padding-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-buttonradius);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgb(189, 157, 90) 1.00%,rgb(239, 227, 148) 100.00%);
  border-top-width: 0px;
  border-left-width: 0px;
}
 
.gallery-navlink1 {
  display: contents;
}
 
.gallery-image11 {
  height: 3rem;
  text-decoration: none;
}
 
.gallery-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.gallery-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.gallery-link11 {
  font-family: "Montserrat";
  text-decoration: none;
}
 
.gallery-link21 {
  font-family: "Montserrat";
  text-decoration: none;
}
 
.gallery-link31 {
  font-family: "Montserrat";
  text-decoration: none;
}
 
.gallery-link41 {
  font-family: "Montserrat";
  text-decoration: none;
}
 
.gallery-link51 {
  font-family: "Montserrat";
  text-decoration: none;
}
 
.gallery-buttons1 {
  gap: var(--dl-space-space-twounits);
  display: none;
  align-items: center;
  flex-direction: row;
}
 
.gallery-action21 {
  color: #000000;
  display: flex;
  font-family: "Montserrat";
  border-color: #000000;
  flex-direction: row;
}
 
.gallery-text10 {
  color: #000000;
  font-style: normal;
  font-weight: 600;
}
 
.gallery-burger-menu {
  display: none;
}
 
.gallery-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.gallery-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: groove;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-buttonradius);
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgb(189, 157, 90) 1.00%,rgb(239, 227, 148) 100.00%);
}
 
.gallery-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.gallery-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
 
.gallery-navlink2 {
  display: contents;
}
 
.gallery-logo {
  height: 3rem;
  text-decoration: none;
}
 
.gallery-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.gallery-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.gallery-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.gallery-link12 {
  text-decoration: none;
}
 
.gallery-link22 {
  text-decoration: none;
}
 
.gallery-link32 {
  text-decoration: none;
}
 
.gallery-link42 {
  text-decoration: none;
}
 
.gallery-link52 {
  text-decoration: none;
}
 
.gallery-buttons2 {
  gap: var(--dl-space-space-twounits);
  display: none;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
}
 
.gallery-action22 {
  color: #000000;
  border-color: #000000;
}
 
.gallery-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
 
.gallery-text12 {
  fill: #bd9d5a;
  color: rgb(189, 157, 90);
  font-size: 10vw;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: "Montserrat";
  font-weight: 600;
  text-shadow: 0px 0px 0px black, /* Right shadow */                 -0px 0px 0px black, /* Left shadow */                 0px 0px 0px black, /* Top shadow */                 2px 2px 0px black;
  margin-bottom: var(--dl-space-space-twounits);
}
 
.gallery-text13 {
  font-size: 72px;
}
 
.gallery-gallery3 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery-text15 {
  font-size: 3em;
  font-style: normal;
  font-family: "Montserrat";
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
 
.gallery-max-width {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.gallery-content {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: grid;
  align-self: stretch;
  flex-shrink: 0;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
 
.gallery-container4 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.gallery-image12 {
  width: 100%;
  max-width: 600px;
  align-self: center;
}
 
.gallery-container5 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.gallery-image2 {
  width: 100%;
  max-width: 600px;
  align-self: center;
}
 
.gallery-container6 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.gallery-image31 {
  width: 100%;
  max-width: 600px;
}
 
.gallery-container7 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.gallery-image32 {
  width: 100%;
  max-width: 600px;
}
 
.gallery-link {
  fill: #bd9d5a;
  color: #000000;
  z-index: 10;
  font-size: 40px;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  transition: 0.3s;
  font-family: "Montserrat";
  font-weight: 500;
  border-color: #bd9d5a;
  border-width: 3px;
  border-radius: 0px;
  text-decoration: none;
  background-color: rgba(251, 250, 249, 0);
}
 
.gallery-link:hover {
  color: #000000;
  background-color: rgb(189, 157, 90);
}
 
.gallery-text17:hover {
  color: #000000;
  background-color: rgb(189, 157, 90);
}
 
.gallery-fragment10 {
  display: contents;
}
 
.gallery-text19 {
  display: inline-block;
}
 
.gallery-fragment11 {
  display: contents;
}
 
.gallery-text20 {
  display: inline-block;
}
 
.gallery-fragment12 {
  display: contents;
}
 
.gallery-text21 {
  display: inline-block;
}
 
.gallery-fragment13 {
  display: contents;
}
 
.gallery-text22 {
  display: inline-block;
}
 
.gallery-fragment14 {
  display: contents;
}
 
.gallery-text23 {
  display: inline-block;
}
 
.gallery-fragment15 {
  display: contents;
}
 
.gallery-text24 {
  display: inline-block;
}
 
.gallery-fragment16 {
  display: contents;
}
 
.gallery-text25 {
  display: inline-block;
}
 
.gallery-fragment17 {
  display: contents;
}
 
.gallery-text26 {
  display: inline-block;
}
 
.gallery-fragment18 {
  display: contents;
}
 
.gallery-text27 {
  display: inline-block;
}
 
.gallery-fragment19 {
  display: contents;
}
 
.gallery-text28 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .gallery-nav-bar {
    z-index: 100;
  }
  .gallery-desktop-menu {
    display: none;
  }
  .gallery-burger-menu {
    display: flex;
  }
  .gallery-icon10 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .gallery-icon12 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .gallery-content {
    display: flex;
    flex-direction: column;
  }
  .gallery-image12 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image2 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image31 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image32 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
}
 
@media(max-width: 767px) {
  .gallery-nav-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gallery-burger-menu {
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .gallery-nav-bar {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .gallery-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
  .gallery-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
