.gallery-search-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #121212;
}
 
.gallery-search-gallery-label {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
 
.gallery-search-text10 {
  top: 0px;
  color: rgba(0, 0, 0, 0.39);
  z-index: 10;
  position: fixed;
  font-size: 8vw;
  font-family: "Uncut-Sans-Semibold";
}
 
.gallery-search-container2 {
  gap: 300px;
  display: none;
  overflow-y: visible;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;
}
 
.gallery-search-image {
  width: 250px;
  height: 375px;
  z-index: 40;
  object-fit: cover;
}
 
.gallery-search-hero {
  width: 100%;
  height: 100%;
  padding: 0px;
  position: fixed;
  perspective: 10px;
  flex-direction: column;
}
 
.gallery-search-container3 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  transform-style: preserve-3d;
}
 
.gallery-search-background-overlay {
  width: 100%;
  padding: 0px;
  align-self: center;
  min-height: 100vh;
  justify-content: center;
}
 
.gallery-search-content {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.gallery-search-container4 {
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  z-index: 20;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.gallery-search-org-hero1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.gallery-search-text11 {
  color: rgb(255, 255, 255);
  z-index: 20;
  font-size: 4.3vw;
  font-style: normal;
  font-family: "Uncut-Sans-Semibold";
  font-weight: 500;
  margin-left: var(--dl-layout-space-halfunit);
}
 
.gallery-search-text12 {
  color: rgb(255, 255, 255);
  z-index: 20;
  font-size: 4.3vw;
  font-style: normal;
  font-family: "Uncut-Sans-Semibold";
  font-weight: 500;
  margin-right: var(--dl-layout-space-halfunit);
}
 
.gallery-search-event-sort {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: none;
  margin-top: 150px;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
 
.gallery-search-event1 {
  width: 25vw;
  height: 25vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url("public/Home/Learn To Golf/img_1007-900h.jpg");
}
 
.gallery-search-title1 {
  color: rgb(255, 255, 255);
  z-index: 10;
  font-size: 4vw;
  align-self: flex-start;
  text-align: center;
  font-family: "Uncut-Sans-Semibold";
  text-shadow: 2px 2px 0 black;
}
 
.gallery-search-event2 {
  width: 25vw;
  height: 25vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url("public/Home/Learn To Golf/img_1007-900h.jpg");
}
 
.gallery-search-title2 {
  color: rgb(255, 255, 255);
  z-index: 10;
  font-size: 4vw;
  align-self: flex-start;
  text-align: center;
  font-family: "Uncut-Sans-Semibold";
  text-shadow: 2px 2px 0 black;
}
 
.gallery-search-event3 {
  width: 25vw;
  height: 25vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url("public/Home/Learn To Golf/img_1007-900h.jpg");
}
 
.gallery-search-title3 {
  color: rgb(255, 255, 255);
  z-index: 10;
  font-size: 4vw;
  align-self: flex-start;
  text-align: center;
  font-family: "Uncut-Sans-Semibold";
  text-shadow: 2px 2px 0 black;
}
 
.gallery-search-event4 {
  width: 25vw;
  height: 25vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url("public/Home/Learn To Golf/img_1007-900h.jpg");
}
 
.gallery-search-title4 {
  color: rgb(255, 255, 255);
  z-index: 10;
  font-size: 4vw;
  align-self: flex-start;
  text-align: center;
  font-family: "Uncut-Sans-Semibold";
  text-shadow: 2px 2px 0 black;
}
 
.gallery-search-event-gallery {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: none;
  margin-top: 150px;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
 
.gallery-search-gallery-img {
  width: 25vw;
  height: 25vw;
  object-fit: cover;
}
 
.gallery-search-navbar-interactive {
  width: 100%;
  bottom: 0px;
  display: flex;
  z-index: 100100;
  position: fixed;
  align-items: center;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: space-between;
}
 
.gallery-search-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.gallery-search-links1 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.gallery-search-nav-bar {
  width: 100%;
  display: flex;
  z-index: 20;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
 
.gallery-search-container5 {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
 
.gallery-search-navlink1 {
  display: contents;
}
 
.gallery-search-text13 {
  color: rgb(255, 255, 255);
  z-index: 20;
  font-size: 2.3vw;
  font-style: normal;
  font-family: "Uncut-Sans-VF-Regular";
  font-weight: 300;
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.gallery-search-navlink2 {
  display: contents;
}
 
.gallery-search-text14 {
  color: rgb(255, 255, 255);
  z-index: 20;
  font-size: 2.3vw;
  font-style: normal;
  text-align: center;
  font-family: "Uncut-Sans-VF-Regular";
  font-weight: 300;
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.gallery-search-container6 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.gallery-search-navlink3 {
  display: contents;
}
 
.gallery-search-text19 {
  color: rgb(255, 255, 255);
  z-index: 20;
  font-size: 2.3vw;
  font-style: normal;
  font-family: "Uncut-Sans-VF-Regular";
  font-weight: 300;
  margin-right: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.gallery-search-navlink4 {
  display: contents;
}
 
.gallery-search-text20 {
  color: rgb(255, 255, 255);
  z-index: 20;
  font-size: 2.3vw;
  font-style: normal;
  font-family: "Uncut-Sans-VF-Regular";
  font-weight: 300;
  margin-right: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.gallery-search-burger-menu {
  display: none;
}
 
.gallery-search-text21 {
  color: rgb(255, 255, 255);
  z-index: 20;
  font-size: 4.3vw;
  font-style: normal;
  font-family: "Uncut-Sans-Semibold";
  font-weight: 500;
  margin-left: var(--dl-layout-space-halfunit);
}
 
.gallery-search-mobile-menu {
  width: 100%;
  bottom: 0px;
  height: 100%;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000000;
}
 
.gallery-search-nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
}
 
.gallery-search-top {
  width: 100%;
  display: flex;
  margin-top: var(--dl-layout-space-threeunits);
  align-items: center;
  justify-content: space-between;
}
 
.gallery-search-org-hero2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.gallery-search-text22 {
  color: rgb(255, 255, 255);
  z-index: 20;
  font-size: 55px;
  font-style: normal;
  font-family: "Uncut-Sans-Semibold";
  font-weight: 500;
  margin-left: var(--dl-layout-space-halfunit);
}
 
.gallery-search-text23 {
  color: rgb(255, 255, 255);
  z-index: 20;
  font-size: 55px;
  font-style: normal;
  font-family: "Uncut-Sans-Semibold";
  font-weight: 500;
  margin-right: var(--dl-layout-space-halfunit);
}
 
.gallery-search-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.gallery-search-icon3 {
  fill: #ffffff;
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
}
 
.gallery-search-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.gallery-search-navlink5 {
  color: #ffffff;
  font-size: 40px;
  font-family: "Uncut-Sans-Regular";
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.gallery-search-navlink6 {
  color: #ffffff;
  font-size: 40px;
  font-family: "Uncut-Sans-Regular";
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.gallery-search-navlink7 {
  color: #ffffff;
  font-size: 40px;
  font-family: "Uncut-Sans-Regular";
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.gallery-search-navlink8 {
  color: #ffffff;
  font-size: 40px;
  font-family: "Uncut-Sans-Regular";
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.gallery-search-navlink9 {
  color: #ffffff;
  font-size: 40px;
  font-family: "Uncut-Sans-Regular";
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
@media(max-width: 905px) {
  .gallery-search-text10 {
    font-size: 11vw;
  }
  .gallery-search-event1 {
    width: 25vw;
    height: 25vw;
  }
  .gallery-search-title1 {
    font-size: 4vw;
  }
  .gallery-search-event2 {
    width: 25vw;
    height: 25vw;
  }
  .gallery-search-title2 {
    font-size: 4vw;
  }
  .gallery-search-event3 {
    width: 25vw;
    height: 25vw;
  }
  .gallery-search-title3 {
    font-size: 4vw;
  }
  .gallery-search-event4 {
    width: 25vw;
    height: 25vw;
  }
  .gallery-search-title4 {
    font-size: 4vw;
  }
  .gallery-search-text22 {
    font-size: 55px;
  }
}
 
@media(max-width: 767px) {
  .gallery-search-container1 {
    background-color: #121212;
  }
  .gallery-search-background-overlay {
    display: flex;
    justify-content: center;
  }
  .gallery-search-event-sort {
    grid-template-columns: 1fr 1fr;
  }
  .gallery-search-event1 {
    width: 30vw;
    height: 30vw;
    align-items: center;
    justify-content: center;
  }
  .gallery-search-title1 {
    font-size: 6vw;
  }
  .gallery-search-event2 {
    width: 30vw;
    height: 30vw;
    align-items: center;
    justify-content: center;
  }
  .gallery-search-title2 {
    font-size: 6vw;
  }
  .gallery-search-event3 {
    width: 30vw;
    height: 30vw;
    align-items: center;
    justify-content: center;
  }
  .gallery-search-title3 {
    font-size: 6vw;
  }
  .gallery-search-event4 {
    width: 30vw;
    height: 30vw;
    align-items: center;
    justify-content: center;
  }
  .gallery-search-title4 {
    font-size: 6vw;
  }
  .gallery-search-event-gallery {
    grid-template-columns: 1fr 1fr;
  }
  .gallery-search-gallery-img {
    width: 30vw;
    height: 30vw;
  }
  .gallery-search-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .gallery-search-desktop-menu {
    display: none;
  }
  .gallery-search-burger-menu {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
  }
  .gallery-search-icon1 {
    fill: var(--dl-color-theme-neutral-dark);
    color: #ffffff;
    width: 4vw;
    height: 4vw;
  }
  .gallery-search-text21 {
    color: rgb(255, 255, 255);
    font-size: 4.3vw;
    font-style: normal;
    font-family: Uncut-Sans-Semibold;
    font-weight: 500;
    margin-left: 0px;
  }
  .gallery-search-mobile-menu {
    top: 0px;
    left: 0px;
    position: fixed;
  }
  .gallery-search-text22 {
    font-size: 40px;
  }
  .gallery-search-text23 {
    font-size: 40px;
  }
  .gallery-search-navlink5 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .gallery-search-navlink6 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .gallery-search-navlink7 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .gallery-search-navlink8 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .gallery-search-navlink9 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
}
 
@media(max-width: 479px) {
  .gallery-search-text11 {
    color: rgb(255, 255, 255);
    font-size: 4.3vw;
    font-style: normal;
    font-family: Uncut-Sans-Semibold;
    font-weight: 500;
  }
  .gallery-search-event-sort {
    margin-bottom: var(--dl-layout-space-sixunits);
    grid-template-columns: 1fr;
  }
  .gallery-search-event1 {
    width: 60vw;
    height: 60vw;
    align-items: center;
    justify-content: center;
  }
  .gallery-search-title1 {
    font-size: 10vw;
  }
  .gallery-search-event2 {
    width: 60vw;
    height: 60vw;
    align-items: center;
    justify-content: center;
  }
  .gallery-search-title2 {
    font-size: 10vw;
  }
  .gallery-search-event3 {
    width: 60vw;
    height: 60vw;
    align-items: center;
    justify-content: center;
  }
  .gallery-search-title3 {
    font-size: 10vw;
  }
  .gallery-search-event4 {
    width: 60vw;
    height: 60vw;
    align-items: center;
    justify-content: center;
  }
  .gallery-search-title4 {
    font-size: 10vw;
  }
  .gallery-search-event-gallery {
    margin-bottom: var(--dl-layout-space-sixunits);
    grid-template-columns: 1fr;
  }
  .gallery-search-gallery-img {
    width: 60vw;
    height: 60vw;
  }
  .gallery-search-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .gallery-search-icon1 {
    align-self: center;
  }
  .gallery-search-text21 {
    align-self: center;
  }
  .gallery-search-mobile-menu {
    padding: 16px;
  }
}
