.gallery-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.gallery-gallery-label {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
 
.gallery-text10 {
  top: 0px;
  color: rgba(0, 0, 0, 0.39);
  z-index: 10;
  position: fixed;
  font-size: 8vw;
  font-family: "Uncut-Sans-Semibold";
}
 
.gallery-slider {
  width: 500px;
  bottom: 0px;
  height: 500px;
  display: inline-block;
  position: fixed;
}
 
.gallery-slider-slide1 {
  display: flex;
  justify-content: center;
}
 
.gallery-link1 {
  display: contents;
}
 
.gallery-container11 {
  width: 300px;
  height: 450px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url("public/Neo Site/Gallery/gal4-500h.jpg");
}
 
.gallery-text11 {
  color: #ffffff;
  z-index: 10;
  font-size: 45px;
  align-self: flex-start;
  margin-top: 200px;
  text-align: center;
  font-family: "Uncut-Sans-Semibold";
  text-shadow: 2px 2px 0 black;
}
 
.gallery-slider-slide2 {
  display: flex;
  position: relative;
  justify-content: center;
}
 
.gallery-link2 {
  display: contents;
}
 
.gallery-container12 {
  width: 300px;
  height: 450px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url("public/Home/Learn To Golf/img_6896-300w.jpg");
}
 
.gallery-text15 {
  color: rgb(255, 255, 255);
  z-index: 10;
  font-size: 60px;
  align-self: flex-start;
  margin-top: 200px;
  text-align: center;
  font-family: "Uncut-Sans-Semibold";
  text-shadow: 2px 2px 0 black;
}
 
.gallery-slider-slide3 {
  display: flex;
  justify-content: center;
}
 
.gallery-link3 {
  display: contents;
}
 
.gallery-container13 {
  width: 300px;
  height: 450px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url("public/Home/Learn To Golf/img_1007-500h.jpg");
}
 
.gallery-text16 {
  color: rgb(255, 255, 255);
  z-index: 10;
  font-size: 35px;
  align-self: flex-start;
  margin-top: 200px;
  text-align: center;
  font-family: "Uncut-Sans-Semibold";
  text-shadow: 2px 2px 0 black;
}
 
.gallery-slider-slide4 {
  display: flex;
  justify-content: center;
}
 
.gallery-link4 {
  display: contents;
}
 
.gallery-container14 {
  width: 300px;
  height: 450px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  background-size: cover;
  justify-content: center;
  text-decoration: none;
  background-image: url("public/Home/Learn To Golf/img_2031-500h.jpg");
}
 
.gallery-text20 {
  color: rgb(255, 255, 255);
  z-index: 10;
  font-size: 50px;
  align-self: flex-start;
  margin-top: 200px;
  text-align: center;
  font-family: "Uncut-Sans-Semibold";
  text-shadow: 2px 2px 0 black;
}
 
.gallery-slider-pagination {
  display: block;
}
 
.gallery-slider-pagination-bullet1 {
  background-color: var(--dl-color-theme-accent1);
}
 
.gallery-slider-pagination-bullet2 {
  background-color: var(--dl-color-theme-accent1);
}
 
.gallery-slider-pagination-bullet3 {
  background-color: var(--dl-color-theme-accent1);
}
 
.gallery-slider-pagination-bullet4 {
  background-color: var(--dl-color-theme-accent1);
}
 
.gallery-slider-button-prev {
  fill: var(--dl-color-theme-neutral-dark);
  color: #ffffff;
}
 
.gallery-slider-button-next {
  fill: var(--dl-color-theme-neutral-dark);
  color: #ffffff;
}
 
.gallery-container15 {
  gap: 300px;
  display: none;
  overflow-y: visible;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;
}
 
.gallery-image {
  width: 250px;
  height: 375px;
  z-index: 40;
  object-fit: cover;
}
 
.gallery-hero {
  width: 100%;
  height: 100%;
  padding: 0px;
  position: fixed;
  perspective: 10px;
  flex-direction: column;
}
 
.gallery-container16 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  transform-style: preserve-3d;
}
 
.gallery-background-overlay {
  width: 100%;
  padding: 0px;
  align-self: center;
  min-height: 100vh;
  justify-content: center;
}
 
.gallery-background-images {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.gallery-background-fade {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  align-items: center;
  aspect-ratio: auto;
  flex-direction: column;
  justify-content: center;
  background-color: #121212;
}
 
.gallery-content {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.gallery-container17 {
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  z-index: 20;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.gallery-org-hero1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.gallery-text21 {
  color: rgb(255, 255, 255);
  z-index: 20;
  font-size: 4.3vw;
  font-style: normal;
  font-family: "Uncut-Sans-Semibold";
  font-weight: 500;
  margin-left: var(--dl-layout-space-halfunit);
}
 
.gallery-text22 {
  color: rgb(255, 255, 255);
  z-index: 20;
  font-size: 4.3vw;
  font-style: normal;
  font-family: "Uncut-Sans-Semibold";
  font-weight: 500;
  margin-right: var(--dl-layout-space-halfunit);
}
 
.gallery-container18 {
  width: 100%;
  display: flex;
  z-index: 60;
  align-items: flex-start;
  padding-top: 3vw;
  flex-direction: row;
  justify-content: space-between;
}
 
.gallery-container19 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-layout-space-halfunit);
  flex-direction: column;
  justify-content: space-between;
}
 
.gallery-container20 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.gallery-text23 {
  color: rgb(255, 255, 255);
  width: 460px;
  z-index: 20;
  font-size: 2vw;
  font-family: "Uncut-Sans-VF-Regular";
}
 
.gallery-container21 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.gallery-text24 {
  color: rgb(255, 255, 255);
  width: 460px;
  z-index: 20;
  font-size: 2vw;
  font-family: "Uncut-Sans-VF-Regular";
}
 
.gallery-navbar-interactive {
  width: 100%;
  bottom: 0px;
  display: flex;
  z-index: 100100;
  position: fixed;
  align-items: center;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: space-between;
}
 
.gallery-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.gallery-links1 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.gallery-nav-bar {
  width: 100%;
  display: flex;
  z-index: 20;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
 
.gallery-container22 {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
 
.gallery-navlink1 {
  display: contents;
}
 
.gallery-text25 {
  color: rgb(255, 255, 255);
  z-index: 20;
  font-size: 2.3vw;
  font-style: normal;
  font-family: "Uncut-Sans-VF-Regular";
  font-weight: 300;
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.gallery-navlink2 {
  display: contents;
}
 
.gallery-text26 {
  color: rgb(255, 255, 255);
  z-index: 20;
  font-size: 2.3vw;
  font-style: normal;
  text-align: center;
  font-family: "Uncut-Sans-VF-Regular";
  font-weight: 300;
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.gallery-container23 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.gallery-navlink3 {
  display: contents;
}
 
.gallery-text31 {
  color: rgb(255, 255, 255);
  z-index: 20;
  font-size: 2.3vw;
  font-style: normal;
  font-family: "Uncut-Sans-VF-Regular";
  font-weight: 300;
  margin-right: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.gallery-navlink4 {
  display: contents;
}
 
.gallery-text32 {
  color: rgb(255, 255, 255);
  z-index: 20;
  font-size: 2.3vw;
  font-style: normal;
  font-family: "Uncut-Sans-VF-Regular";
  font-weight: 300;
  margin-right: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.gallery-burger-menu {
  display: none;
}
 
.gallery-text33 {
  color: rgb(255, 255, 255);
  z-index: 20;
  font-size: 4.3vw;
  font-style: normal;
  font-family: "Uncut-Sans-Semibold";
  font-weight: 500;
  margin-left: var(--dl-layout-space-halfunit);
}
 
.gallery-mobile-menu {
  width: 100%;
  bottom: 0px;
  height: 100%;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000000;
}
 
.gallery-nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
}
 
.gallery-top {
  width: 100%;
  display: flex;
  margin-top: var(--dl-layout-space-threeunits);
  align-items: center;
  justify-content: space-between;
}
 
.gallery-org-hero2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.gallery-text34 {
  color: rgb(255, 255, 255);
  z-index: 20;
  font-size: 55px;
  font-style: normal;
  font-family: "Uncut-Sans-Semibold";
  font-weight: 500;
  margin-left: var(--dl-layout-space-halfunit);
}
 
.gallery-text35 {
  color: rgb(255, 255, 255);
  z-index: 20;
  font-size: 55px;
  font-style: normal;
  font-family: "Uncut-Sans-Semibold";
  font-weight: 500;
  margin-right: var(--dl-layout-space-halfunit);
}
 
.gallery-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.gallery-icon3 {
  fill: #ffffff;
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
}
 
.gallery-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.gallery-navlink5 {
  color: #ffffff;
  font-size: 40px;
  font-family: "Uncut-Sans-Regular";
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.gallery-navlink6 {
  color: #ffffff;
  font-size: 40px;
  font-family: "Uncut-Sans-Regular";
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.gallery-navlink7 {
  color: #ffffff;
  font-size: 40px;
  font-family: "Uncut-Sans-Regular";
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.gallery-navlink8 {
  color: #ffffff;
  font-size: 40px;
  font-family: "Uncut-Sans-Regular";
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.gallery-navlink9 {
  color: #ffffff;
  font-size: 40px;
  font-family: "Uncut-Sans-Regular";
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
@media(max-width: 905px) {
  .gallery-text10 {
    font-size: 11vw;
  }
  .gallery-container18 {
    gap: var(--dl-layout-space-twounits);
    margin-top: var(--dl-layout-space-threeunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .gallery-text23 {
    width: auto;
    font-size: 4vw;
    text-align: center;
  }
  .gallery-container21 {
    align-self: center;
    justify-content: center;
  }
  .gallery-text24 {
    width: auto;
    font-size: 4vw;
    text-align: center;
  }
  .gallery-text34 {
    font-size: 55px;
  }
}
 
@media(max-width: 767px) {
  .gallery-container11 {
    width: 230px;
    height: 350px;
  }
  .gallery-text11 {
    font-size: 30px;
    margin-top: 150px;
  }
  .gallery-container12 {
    width: 230px;
    height: 350px;
  }
  .gallery-text15 {
    font-size: 50px;
    margin-top: 150px;
  }
  .gallery-container13 {
    width: 230px;
    height: 350px;
  }
  .gallery-text16 {
    font-size: 25px;
    margin-top: 150px;
  }
  .gallery-container14 {
    width: 230px;
    height: 350px;
  }
  .gallery-text20 {
    font-size: 40px;
    margin-top: 150px;
  }
  .gallery-background-overlay {
    display: flex;
    justify-content: center;
  }
  .gallery-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .gallery-desktop-menu {
    display: none;
  }
  .gallery-burger-menu {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
  }
  .gallery-icon1 {
    fill: var(--dl-color-theme-neutral-dark);
    color: #ffffff;
    width: 4vw;
    height: 4vw;
  }
  .gallery-text33 {
    color: rgb(255, 255, 255);
    font-size: 4.3vw;
    font-style: normal;
    font-family: Uncut-Sans-Semibold;
    font-weight: 500;
    margin-left: 0px;
  }
  .gallery-mobile-menu {
    top: 0px;
    left: 0px;
    position: fixed;
  }
  .gallery-text34 {
    font-size: 40px;
  }
  .gallery-text35 {
    font-size: 40px;
  }
  .gallery-navlink5 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .gallery-navlink6 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .gallery-navlink7 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .gallery-navlink8 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .gallery-navlink9 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
}
 
@media(max-width: 479px) {
  .gallery-text21 {
    color: rgb(255, 255, 255);
    font-size: 4.3vw;
    font-style: normal;
    font-family: Uncut-Sans-Semibold;
    font-weight: 500;
  }
  .gallery-text23 {
    font-size: 4vw;
  }
  .gallery-text24 {
    font-size: 4vw;
  }
  .gallery-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .gallery-icon1 {
    align-self: center;
  }
  .gallery-text33 {
    align-self: center;
  }
  .gallery-mobile-menu {
    padding: 16px;
  }
}
